.center {
    width: 99%;
    margin: auto;
    text-align: center;
}
.header {
    padding-top: 30px;
    font-size: 90px;
    color: #d4d4dc;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}
body {
    background-color: #393f4d;
}
header {
    height: 10%;
}
.smaller {
    font-size: 25px;
    color: #feda6a;
}
button {
    margin-left: 20px
}
#container {
    height: 70vh;
    margin-top: 20px;
    min-width: 950px;
    display: grid;
    align-items: stretch;
    overflow: auto;
}
.row {
    display: grid;
    grid-auto-flow: column;
}
.col {
    border: 1px solid #d4d4d4;
    height: auto;
    width: auto;
    display: inline-block;
}
#noPaint {
    background-color: transparent;
}
#painted 
{
    background-color: #feda6a;
}
